 :root {
   --primary-brand-color: #4D5AE5;
   --pressed-state-color: #404BBF;
   --dark-color: #2E2F42;
   --success-color: #31D0AA;
   --text-color: #434455;
   --subtle-text-color: #8E8F99;
   --accent-color: #E7E9FC;
   --light-color: #F4F4FD;
   --modal-overlay-color: #2E2F42;
   --hero-background-color: #2E2F42;
   --white-background-color: #FFFFFF;
   --modal-background-color: #FCFCFC;
   --logo-color: #4d5ae5;
   --dark-blue-color: #2e2f42;
 }
 body {
     font-family: 'Roboto', sans-serif;
     color: #434455;
     background-color: #FFFFFF;
 }
.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--logo-color);
    margin-right: 76px;
}
.logo::before {
    color: var(--logo-color);
}
.link {
    text-decoration: none;
}
.logo-studio {
    color: var(--dark-blue-color);
}
.logo-studio-footer {
    color: #f4f4fd;
}
.list{
    list-style: none;
    display: flex;
    gap: 40px;
}
.span {
    color: #f4f4fd;
}
.nav-link {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--dark-blue-color);
    padding: 24px 0;
}
.nav-link:hover {
    color:#404bbf;
}
.nav-link:focus {
    color: #404bbf;
}
.address {
    font-style: normal;
}
.address-link {
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-color);
}
.address-link:hover {
    color: #404bbf;
}

.address-link:focus {
    color: #404bbf;
}
.mail {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.mail:hover {
    color: #404bbf;
}
.mail:visited {
    color: #404bbf;
}
.button {
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    background-color: #4D5AE5;
    max-width: 496px;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
}
.button:hover {
    background-color: #404BBF;
}
.button:focus {
    background-color: #404BBF;
}
.button:active {
    background-color: #404BBF;
}
.button-main-section {
    cursor: pointer;
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: var(--logo-color);
        background-color: var(--light-color);
}
.button-main-section:hover {
    color: #FFFFFF;
    background-color: #404BBF;
}

.button-main-section:focus {
    color: #FFFFFF;
    background-color: #404BBF;
}

.button-main-section:active {
    background-color: #404BBF;
}
.tag {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
}
.section-one {
    background-color: #2e2f42;
    padding: 188px 0;
}
.section-two {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--dark-blue-color);
}
.section-three {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--dark-blue-color)
}
.section-four {
    background-color: #F4F4FD;
}
.footer {
    background-color: #2e2f42;
}
.section-one-text {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
    max-width: 496px;
}
.section-two-text {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--dark-blue-color);
}
.section-three-text {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--dark-blue-color);
}
.section-four-text {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--dark-blue-color);
}
.section-two-header {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--dark-blue-color);
}
.section-four-header {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--dark-blue-color);
}
.section-two-paragraph {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-color);
}
.section-four-paragraph {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-color);
}
.section-four-list {
    background-color: #FFFFFF;
}
.heading {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--dark-blue-color)
}
.paragraph {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-color);
}
.logo-link-footer {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
}
.logo-footer {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--light-color);
}
.section-four-color {
    background-color: #FFFFFF
}
.header {
    border-bottom: 1px solid #e7e9fc;
}
.div-container {
    display: flex;
}
.container {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}
.nav-header {
    display: flex;
    align-items: center;
}